.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
@media (max-width: 768px) {
    .hidden-mobile {
        display: none;
    }
}
@media (min-width: 769px) {
    .hidden-desktop {
        display: none;
    }
}