.cheaper-form {
    display: flex;
    flex-wrap: wrap;
    .cheaper-img {
        max-width: 480px !important;
        width: 100%;
        height: 682px;
        background: url("~assets/images/price_guarantee/shutterstock.png")
            no-repeat;
        background-size: cover;
    }
    .tabs-three {
        position: relative;
        .form-nav {
            width: 100%;
            font-size: 15px;

            position: absolute;
            bottom: 40px;
            left: 230px;
            .form-switch-button {
                position: relative;
                margin: 0 !important;
                display: inline-block;
                cursor: pointer;
                color: #fff;

                &:nth-of-type(1) {
                    &:after {
                        content: "/";
                        position: absolute;
                        color: #fff;
                        right: -8px;
                    }
                }
            }
            .active_style_line {
                border-bottom: 1px white dashed;
            }
        }
        .tabs-blocks {
            .cheaper-form-title {
                margin: 0;
                text-align: center;
                font-weight: 700;
            }
            .cheaper-form-subtitle {
                margin: 20px 0px 0px 0px;
                text-align: center;
            }
            input {
                border: 1px solid #acacac;
                height: 35px;
                border-radius: 10px;
                font-size: 15px;
                padding: 8px 8px 8px 15px;
                outline: none;
                margin: 0;
                &::placeholder {
                    color: #acacac;
                }
            }
            .large-input {
                width: 288px;
            }
            .small-input {
                width: 198px;
            }
            .very-small-input {
                width: 148px;
            }
            p {
                color: #fff;
                font-size: 15px;
                margin: 15px 0px 5px 0px;
                line-height: 16px;
            }
            textarea {
                width: 608px;
                height: 78px;
                min-height: 150px;
                min-width: 100%;
                border: 1px solid #acacac;
                border-radius: 10px;
                resize: none;
                font-size: 15px;
                padding: 15px 20px;
                outline: none;
            }
            input[type="submit"] {
                width: 183px;

                font-size: 15px;
                text-transform: uppercase;
                border: none;
                background-color: white;
                color: black;
                border-radius: 8px;
                outline: none;
                display: block;
                margin: 0 auto;
                margin-top: 30px;
            }
            .form_result {
                text-align: center;
                font-size: 16px;
                color: green;
                margin-top: 15px;
            }
            .space-flex {
                p {
                    margin-left: 20px;
                    line-height: 16px;
                }
            }
            .cheaper-inputs-one,
            .cheaper-inputs-two {
                width: 690px;
                background-color: black;
                padding: 40px 35px 74px 35px;
                overflow: hidden;
                display: none;
                
            }
            .active {
                display: block;
            }
        }
    }
}
@media (max-width: 1200px) {
    .cheaper-form {
        .cheaper-img {
            display: none;
        }
        .tabs-three {
            .form-nav {
                left: 40%;
                bottom: 20px;
            }
            .tabs-blocks {
                .cheaper-inputs-one,
                .cheaper-inputs-two {
                    width: 100%;
                    box-sizing: border-box;
                }
                .large-input {
                    width: 100%;
                    box-sizing: border-box;
                    flex-grow: 1;
                }
                .small-input{
                    width: 100%;
                    box-sizing: border-box;
                }
                .very-small-input{
                    width: 100%;
                    box-sizing: border-box;
                }
                textarea {
                    width: 100%;
                    height: 100px;
                    box-sizing: border-box;
                }
                // input[type="submit"]{
                //     width: 100%;
                // }
            }
        }
    }
    .space-flex {
        flex-direction: column;
    }
}
@media (max-width: 650px) {
    .cheaper-form {
        .tabs-three {
            .form-nav {
                left: 30%;
                bottom: 20px;
            }
        }
    }
}
@media (max-width: 500px) {
    .cheaper-form {
        .tabs-three {
            .form-nav {
                left: 25%;
                bottom: 20px;
            }
        }
    }
}

