.content-header {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    margin-top: 33px;
    padding: 55px 0;
    h2 {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    .breadcrumbs {
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .content-header {
        margin-top: 0;
        padding: 30px 0;
        h2 {
            font-size: 14px;
        }
        .breadcrumbs {
            margin-top: 8px;
        }
    }
}