.delivery{
    color: #4a4a4a;
    font-size: 13px;
    .mail{
        color: red;
    }
    .static{
        margin-left: 20px;
        padding: 0;
        li{
            list-style: square; 
        }
    }
}