.header-menu {
    @include modal-slide-mobile;
    .modal-dialog {
        max-width: unset;
        width: 260px;
        margin: 0;
    }
    .modal-body {
        padding: 0;
        padding-bottom: 20px;
        min-height: 100vh;
        background-color: #f7f7f7;
    }
    &__top {
        margin-top: 10px;
        margin-left: 5px;
        min-height: 105px;
    }
    &__logo {
        display: block;
        font-size: 0;
    }
    &__delivery-btn {
        margin-top: 7px;
        margin-bottom: 0;
        color: #999999;
        font-size: 13px;
        font-weight: 300;
    }
    &__auth,
    &__btn {
        min-height: 52px;
        width: calc(100% - 10px);
        margin-left: 5px;
        padding: 15px 0;
        font-size: 13px;
        text-align: left;
        text-transform: uppercase;
        color: $grey;
        background-color: transparent;
        border: none;
        border-top: 1px solid #d9d9d9;
    }
    &__btn {
        position: relative;
        padding-right: 15px;
        font-weight: 600;
        color: #000;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 6px;
            height: 6px;
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
            transform: translateY(-50%) rotate(-45deg);
        }
    }
    span {
        white-space: nowrap;
    }
    &__features {
        margin-bottom: 20px;
        padding: 15px 0;
        padding-bottom: 20px;
        background-color: #000;
        a {
            display: block;
            padding: 8px 6px;
            text-decoration: none;
            color: #fff;
        }
    }
    &__info {
        position: relative;
        margin: 0 5px;
        padding: 7px 0;
        padding-left: 18px;
        font-size: 14px;
        font-weight: 600;
        color: $grey;
        svg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}
