.rating {
    width: 90px;
    height: 13px;
    background: url('~assets/images/icons/star-gray.svg') left center repeat-x;
    &__stars {
        width: 0;
        height: 100%;
        background: url('~assets/images/icons/star-orange.svg') left center repeat-x;
        cursor: pointer;
    }
}