.s-pagination {
    font-size: 0;
    text-align: center;
    z-index: 5;
    &__bullet {
        display: inline-block;
        width: 22px;
        height: 6px;
        border: 1px solid #000;
        background-color: transparent;
        transition: background-color 150ms;
        &:not(:last-of-type) {
            margin-right: 10px;
        }
        &--active {
            background-color: #000;
        }
        &:focus {
            outline: none;
        }
    }
    &--clickable {
        span {
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .s-pagination {
        &__bullet {
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }
    }
}